/* Reset some default styles for better consistency */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Navigation Styles */
nav {
    background-color: #EF381F;
    position: absolute;
    width: 90%;
    top: 0;
}

.navbar-nav a:link,
.navbar-nav a:visited {
    color: #FEF7EC;
    text-decoration: none;
}

.navbar-nav a:hover,
.navbar-nav a:active {
    color: gold;
}

.navbar-nav .active {
    color: gold !important;
}

/* Main Content Styles */
main {
    margin-top: 20px;
}

/* Table Styles */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table tr td,
table tr th {
    background-color: #FEF7EC;
    border: 1px solid black;
    padding: 8px;
}

/* Image Styles */
.logoImg {
    width: 100px;
}

.logoDiv {
    text-align: center;
}

/* Video Section Styles */
#videoLayout {
    width: 100%;
    margin-top: 20px;
}

.YouTubeVideo,
.VideoWidget {
    padding: 20px;
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
 h1 {
      text-align: center;
      font-size: 3em;
    }

    /* Navbar */
    nav {
      background-color: #ffffff;
      width: 100%;
      height: 50px;
      line-height: 50px;
    }

    nav a {
      color: #000000;
      text-decoration: none;
      padding: 10px 20px;
    }

    /* Part with email */
    .email-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }

    .email-form input {
      width: 300px;
      margin-bottom: 10px;
    }

    .email-form button {
      background-color: #000000;
      color: #ffffff;
      padding: 10px 20px;
      border-radius: 5px;
